#container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  }
  #game-text {
    width: 500px;
    font-size: 1.5em;
  }
  h1 {
    white-space: nowrap;
  }
  input {
    width: 25%;
    height: 55px;
    text-align: center;
    font-size: 1.5em;
  }
  .action {
    text-align: center;
    font-size: 1.6em;
    margin: 10px;
  }